<button class="ui button @(Classes)"
        @onclick="@OnClick">
    @Text
</button>

@code {
    #region fields
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public ButtonType Type { get; set; } = ButtonType.Primary;

    public enum ButtonType
    {
        Secondary,
        Primary
    }

    [Parameter]
    public ButtonSize Size { get; set; } = ButtonSize.Mini;

    public enum ButtonSize
    {
        Mini,
        Tiny,
        Small,
        Medium,
        Large,
        Big,
        Massive
    }
    
    [Parameter]
    public bool IsInverted { get; set; } = false;

    [Parameter]
    public Action<UIMouseEventArgs> OnClick { get; set; }

    private string Classes => string.Join(" ", 
        Type.ToString().ToLower(), 
        Size.ToString().ToLower(), 
        IsInverted ? "inverted": string.Empty);
    #endregion
}