<div class="logged-workouts-counter" style="text-align: center; padding-top:2rem">
    <div class="ui statistic">
        <div class="value">
            12
        </div>
        <div class="label">
            Logged Workouts
        </div>
    </div>
</div>