    <div class="ui statistic">
        <div class="value">
            @WorkoutCount
        </div>
        <div class="label">
            @Text
        </div>
    </div>

@code {

    [Parameter]
    public int WorkoutCount { get; set; }
    [Parameter]
    public string Text { get; set; }
    
}