@using System.Text
<div class="header-segment">
    <div class="ui piled segment">
        <h4 class="ui header">@HeaderText</h4>
        <p>@BodyText</p>
    </div>
</div>

@code {

    [Parameter]
    public StringBuilder BodyText { get; set; }

    [Parameter]
    public string HeaderText { get; set; }

}