<div class="header-inverted-segment" style="padding-top:1rem">
    <div class="ui inverted segment">
        <p style="text-align:center">
            <span class="ui inverted blue text">
                Statistic
            </span>
            application with an ability to
            <span class="ui inverted blue text">
                log
            </span>
            workout and particular
            <span class="ui inverted blue text">
                exercise
            </span>
        </p>
    </div>
</div>