<div class="header-inverted-segment" style="padding-top:1rem">
    <div class="ui inverted segment">
        <p style="text-align:center">
            <span class="ui inverted blue text">
                @Text
            </span>
        </p>
    </div>
</div>

@code {

    [Parameter]
    public string Text { get; set; }

}