@using Statistics.Shared

<div class="ui relaxed divided list">
    @foreach (var workout in Workouts)
    {
        <div class="item">
            <div class="content">
                <a class="header">
                    @($"{workout.Id}. {workout.SubmitDate.ToString("D")}")
                </a>
                <div class="description">@(workout.Phase)</div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<Workout> Workouts { get; set; }
}