<div class="item">
    <div class="header">
        @State.header
    </div>

    <div class="menu">
        @foreach (var (text, href) in State.subgroups)
        {
            <a class="item" href=@href>
                @text
            </a>
        }
    </div>
</div>

@code {
    [Parameter]
    public (string header, List<(string text, string href)> subgroups) State { get; set; }
}