<a class="ui left pointing @(PointingColorClass) label">
    @Text
</a>

@code {
    #region fields
    [Parameter]
    public PointingColor Color { get; set; } = PointingColor.White;

    public enum PointingColor
    {
        Red,
        Blue,
        Green,
        White
    }

    private string PointingColorClass => Color.ToString().ToLower();

    [Parameter]
    public string Text { get; set; } = "default text";
    #endregion
}