@page "/log-workout"

@using Statistics.Shared

@inject HttpClient Http

<div class="logWorkout-datePicker">
    <MatDatePicker Label="pickup a date"
                   Outlined="true"
                   Dense="true"
                   @bind-Value=@SelectedDate />


    @if (!IsDateSelected)
    {
        <PointingLabel Text="pick up a date to log" />
    }

    <Dropdown ClassName="exerciseCard-dropdown "
              placeholderText="Pick Up Current Phase"
              selectOptions=@_phaseOptions
              @bind-Value=@SelectedPhase />
    

    <Dropdown ClassName="exerciseCard-dropdown "
                  placeholderText="Evaluate"
                  selectOptions=@(new List<object>
                                {
                                    Evaluation.Good,
                                    Evaluation.Bad,
                                    Evaluation.Mediocre
                                })
                  @bind-Value=@SelectedEvaluation />

</div>

<div class="logWorkout-cards">
    <div class="ui cards">
        @foreach (var exercise in _exercises.Select((value, index) => new {value, index}))
        {
            <ExcersizeCard Number=@(exercise.index + 1)
                           Name=@exercise.value
                           SubmitDate=@(SelectedDate ?? default)
                           Evaluation=@SelectedEvaluation
                           Phase=@SelectedPhase />
        }
    </div>
</div>

<style>
    .logWorkout-datePicker {
        padding-left: 6rem;
        padding-top: 2rem;
    }

    .logWorkout-cards {
        padding-top: 2rem;
        padding-left: 6rem;
        width: 100rem;
    }
</style>

@code
{
    #region fields
    private string _selectedPhase = "First Phase";

    private string SelectedPhase
    {
        get => _selectedPhase;
        set
        {
            _selectedPhase = value;
            StateHasChanged();
        }
    }


    private string _selectedEvaluation = "Not Evaluated";
    private string SelectedEvaluation
    {
        get => _selectedEvaluation;
        set
        {
            _selectedEvaluation = value;
            StateHasChanged();
        }
    }
    
    private bool IsDateSelected { get; set; }

    private DateTime? _selectedDate;

    private DateTime? SelectedDate
    {
        get => _selectedDate;
        set
        {
            _selectedDate = value;
            IsDateSelected = true;
        }
    }

    //todo: put it in db
    private readonly List<string> _exercises = new List<string>
    {
        "Barbell Bench Press",
        "Barbell Squat ",
        "Triceps Pushdown",
        "Barbell Curl from Elbows",
        "Barbell Curl from Shoulders",
        "Standing Calf Raise"
    };

    private readonly List<object> _phaseOptions = new List<object>
    {
        "First Phase",
        "Second Phase",
        "Third Phase",
        "Forth Phase"
    };
    #endregion
}