<div class="ui vertical inverted menu"
     style="width: 18rem; border-top-right-radius: 0; border-bottom-right-radius: 0;height:100%">

    <div class="item">
        <a href="/">
            <b>Application Index</b>
        </a>
    </div>
    <MenuGroup State="@_logGroup"/>
    <MenuGroup State="@_statisticGroup"/>
</div>
0
@code {

    private readonly (string header, List<(string, string)>) _logGroup =
        ("Log",
            new List<(string, string)>
            {
                ("Log Workout", "/log-workout"),
                ("Log Abs","/log-absworkout"),
            });

    private readonly (string header, List<(string, string)>) _statisticGroup =
        ("Statistics",
            new List<(string, string)>
            {
                ("Workout Statistic", "/statistics-workout"),
                ("Abs Statistic","/statistics-absworkout"),
            });
}